<li>
  <div>
    <strong>Name:</strong> <%= doctor.name %>
  </div>
  <div>
    <strong>Phone Number:</strong> <%= doctor.phone_number %>
  </div>
  <div>
    <strong>Email:</strong> <%= doctor.email %>
  </div>
</li>
