<h1>Doctors</h1>

<ul>
  <% @doctors.each do |doctor| %>
    <%= render partial: 'doctor', locals: { doctor: doctor } %>
  <% end %>
</ul>

<%= link_to 'Create New Doctor', new_doctor_path, class: 'btn btn-primary' %>
