<h1>Editing lab technician</h1>

<%= render "form", lab_technician: @lab_technician %>

<br>

<div>
  <%= link_to "Show this lab technician", @lab_technician %> |
  <%= link_to "Back to lab technicians", lab_technicians_path %>
</div>
