<div id="<%= dom_id invoice %>">
  <p>
    <strong>Generated on:</strong>
    <%= invoice.generated_on %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= invoice.total_price %>
  </p>

  <p>
    <strong>Service type:</strong>
    <%= invoice.service_type %>
  </p>

</div>
