<h1>Edit Invoice</h1>

<%= render 'form', invoice: @invoice %>

<%= link_to 'Show', @invoice, class: 'btn btn-info mt-3' %>
<%= link_to 'Back to Invoices', invoices_path, class: 'btn btn-secondary mt-3' %>
