<h1>Edit Payment</h1>

<%= render 'form', payment: @payment %>

<%= link_to 'Show', @payment, class: 'btn btn-info mt-3' %>
<%= link_to 'Back to Payments', payments_path, class: 'btn btn-secondary mt-3' %>
